@import url(https://fonts.googleapis.com/css?family-Raleway:400,500,800);

* {
    box-sizing: border-box;
    transition: all 0.35s ease;
    cursor: none;
}

body {
    background-color: #593477;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 1800px;
    overflow-x: hidden;

    background-image: url('Assets/Wallpaper.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    top: 0;
    padding-top: 2%;
    width: 100vw;
    height: 10vh;
    background-color: black;
}

nav img {
    position: absolute;
    margin-left: 4%;
    width: 2.5em;
    height: 2.5em;
}

/* SLIDING NAV */

.menu {
    position: fixed;
    right: 0;
    padding-right: 4%;
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75em;
}

.menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 2.2em;
    overflow: hidden;
}

.menu a {
    padding: 0 0.2em 0 0.5em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.menu a::before,
.menu a::after {
    position: absolute;
    transition: all 0.35s ease;
}

.menu a::before {
    content: "";
    left: 100%;
    display: block;
    width: 3px;
    height: 100%;
    background-color: #9d8af4;
}

.menu a::after {
    padding: 0 0.2em 0 0.5em;
    position: absolute;
    left: 100%;
    top: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}

.menu li:hover a,
.menu .current a {
    transform: translateX(-100%);
}

/* CUSTOM CURSOR */

.cursorDot {
    width: 7px;
    height: 7px;
    background-color: white;
}

.cursorOutline {
    width: 50px;
    height: 50px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursorDot,
.cursorOutline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}