@import url(https://fonts.googleapis.com/css?family-Raleway:400,500,800);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Spot Palette
#582BA0
#856E9F
#FCEAFF
#64BAAA*/


* {
    color: #FCEAFF;
    box-sizing: border-box;
    transition: all 0.35s ease;
}

body {
    font-size: 0.8em;
    background-image:
        linear-gradient(to bottom,
            hsl(262.88, 57.84%, 40%) 0%,
            hsl(263.78, 51.38%, 43.05%) 7.5%,
            hsl(264.82, 44.84%, 46.7%) 14.4%,
            hsl(265.96, 39.89%, 50.83%) 20.9%,
            hsl(267.15, 40.67%, 55.34%) 27%,
            hsl(268.41, 41.63%, 60.14%) 32.8%,
            hsl(269.73, 42.83%, 65.1%) 38.5%,
            hsl(271.17, 44.34%, 70.12%) 44.2%,
            hsl(272.79, 46.28%, 75.05%) 49.9%,
            hsl(274.67, 48.87%, 79.79%) 55.7%,
            hsl(276.93, 52.49%, 84.18%) 61.9%,
            hsl(279.67, 57.79%, 88.09%) 68.3%,
            hsl(282.95, 65.79%, 91.37%) 75.3%,
            hsl(286.54, 77.62%, 93.9%) 82.8%,
            hsl(289.67, 92.09%, 95.51%) 91%,
            hsl(291, 100%, 96.08%) 100%);
    overflow-x: hidden;
}

.centerBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.infoBody {
    display: flex;
    justify-content: center;
    height: 160vh;
    width: 100vw;
}

main {
    width: 100%;
    padding: 10%;
}

.container {
    width: auto;
    height: 15vh;
    margin-bottom: 5vh;
    border-radius: 30px;
    background: #856E9F;
    text-shadow: 2px 2px 2px black;
    box-shadow: 9px -9px 18px #090e11,
        -9px 9px 18px #0d1619;
    padding: 1%;
    font-size: 1.2em;
}

/* 
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

/* ---- NAV BAR ----  */
nav {
    position: absolute;
    right: 4%;
    top: 3%;
    text-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.6);
    font-size: 1em;
}

.menu {
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 2.2em;
    overflow: hidden;
}

.menu a {
    padding: 0 0.2em 0 0.5em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.menu a::before,
.menu a::after {
    position: absolute;
    transition: all 0.35s ease;
}

.menu a::before {
    content: "";
    left: 100%;
    display: block;
    width: 3px;
    height: 100%;
    background-color: #64BAAA;
}

.menu a::after {
    padding: 0 0.2em 0 0.5em;
    position: absolute;
    left: 100%;
    top: 0;
    content: attr(data-hover);
    color: #FCEAFF;
    white-space: nowrap;
}

.menu li:hover a,
.menu .current a {
    transform: translateX(-100%);
}

/* ---- SPIRAL ----  */

.spiral {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 17px;
    font-family: 'Shadows Into Light', cursive;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

.character {
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.6);
    color: #64BAAA;
    font-size: 4em;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
    animation: spiral 4s linear infinite;
    font-family: 'IBM Plex Mono', monospace;
}

/* ---- CUSTOM CURSOR ----  */

* {
    cursor: none;
}

.cursorDot {
    width: 7px;
    height: 7px;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.cursorOutline {
    width: 50px;
    height: 50px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursorDot,
.cursorOutline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

/* ---- HACK EFFECT ----  */
.hack {
    text-shadow: 3px 3px 4px hsla(0, 0%, 0%, 0.8);
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
}

/* ---- CUSTOM SCROLLBAR ----  */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-image:
        linear-gradient(to bottom,
            hsl(262.88, 57.84%, 40%) 0%,
            hsl(263.78, 51.38%, 43.05%) 7.5%,
            hsl(264.82, 44.84%, 46.7%) 14.4%,
            hsl(265.96, 39.89%, 50.83%) 20.9%,
            hsl(267.15, 40.67%, 55.34%) 27%,
            hsl(268.41, 41.63%, 60.14%) 32.8%,
            hsl(269.73, 42.83%, 65.1%) 38.5%,
            hsl(271.17, 44.34%, 70.12%) 44.2%,
            hsl(272.79, 46.28%, 75.05%) 49.9%,
            hsl(274.67, 48.87%, 79.79%) 55.7%,
            hsl(276.93, 52.49%, 84.18%) 61.9%,
            hsl(279.67, 57.79%, 88.09%) 68.3%,
            hsl(282.95, 65.79%, 91.37%) 75.3%,
            hsl(286.54, 77.62%, 93.9%) 82.8%,
            hsl(289.67, 92.09%, 95.51%) 91%,
            hsl(291, 100%, 96.08%) 100%);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #64BAAA);
    border-radius: 6px;
}

 /* ---- GRID CONTAINERS ----  */
 .grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20%;
    border: solid 2px #090e11;
}

.grid-container:nth-child(n) {
    text-align: center;
}